.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f9f9f9;
  font-family: sans-serif;
}

#navbar_logo {
  font-weight: bold;
  font-size: 20px;
  color: #003b3f;
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar_menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  flex: 1;
  justify-content: space-between;
}

.navbar_item a {
  color: #003b3f;
  text-decoration: none;
  font-weight: 500;
}

.navbar_item a:hover {
  text-decoration: underline;
}

.navbar_toggle {
  display: none; /* Hide mobile menu for now */
}
