
@import "tailwindcss";                             



#root{
  background-color: rgb(255, 255, 255);
  margin: 0%;
  padding:1rem;
  max-width:1024px;
  font-family: 'Segoe UI', sans-serif;
}



quiz-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: rgb(201, 212, 211);
  transition: all 0.3s ease;
}

quiz-item:hover {
  background-color: #f0f8ff;
}

quiz-question {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

quiz-answer {
  margin-top: 10px;
  color: #444;
}

arrow {
  background-color: #7c8486;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  font-weight:bold;
}



.Contacts_title{
  font-weight: 100;
  position:relative;
  left:50%;
  transform:translate(-5%);
}
.Contacts_content h1{
  position:relative;
  left:50%;
  transform:translatex(-15%);
}
.Contacts_content p1{
  position:relative;
  left:25%;
  transform:translatex(-0%);
}

.Contacts_content1{
  display:flex;
  background-color: rgb(243, 243, 252);
  padding:5px;
  border-radius: 20px;
  margin:2rem;
  justify-content:center;
  align-items: center;
  gap:50px;

  .Contact_Details{
    margin: 0px;
  }
}
.form1{
  background-color: rgb(112, 90, 63);
  padding:10px;
  border-radius: 10px;
}
.Contact_Details a{
gap: 10px;
}
.form button{
  background-color: #ffffffd0;
  border-radius:0.4rem;
  box-shadow:#033e52;
  padding:5px;
  margin:1rem;
  cursor: pointer;
}



.Conclusion{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
  padding: 10px;
  gap:20px;
}

.Conclusion_Container{
  background-color: rgb(243, 243, 252);
  border-radius: 30px;
  padding: 10px 20px;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-links {
  display:flex;
  justify-content: space-between;
  gap:20px;

}

.footer-links ul {
  list-style: none;
  padding: 0;
  font-size: 0.95rem;
  line-height: 1.8;
}

.footer-copy {
  font-size: 0.75rem;
  color: #a0a0a0;
}

.insurance-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  text-align: center;
}

.insurance-card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.insurance-card p {
  margin-bottom: 1rem;
  color: #555;
}

.insurance-card{
  background-color: rgb(56, 235, 109);
  border-radius: 30px;
  padding: 10px 20px;
}

.insurance-card button{
  background-color: #ffffffd0;
  border-radius:0.4rem;
  box-shadow:#033e52;
  padding:5px;
  margin:1rem;
  cursor: pointer
}

.insurance-card button:hover {
  background-color: #005599;
}